# 1. Numpy
Numpy is a Python library for computationally efficient multidimensional array operations aimed primarily at scientific computing. It is accepted to import as follows:

In [1]:
import numpy as np

In [2]:
a = np.array([0, 1, 2, 3]) 
a

array([0, 1, 2, 3])

Let's compare effectivity with Numpy and without:

In [3]:
L = range(1000)
L # from 0 to 999, can use list(L) to get result as a list

range(0, 1000)

In [4]:
%timeit [i**2 for i in L]

308 µs ± 14.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [5]:
a = np.arange(1000)
a

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [6]:
%timeit a**2

2.13 µs ± 199 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

Search in documentation:

In [7]:
np.lookfor("create array")

Search results for 'create array'
---------------------------------
numpy.array
    Create an array.
numpy.memmap
    Create a memory-map to an array stored in a *binary* file on disk.
numpy.diagflat
    Create a two-dimensional array with the flattened input as a diagonal.
numpy.fromiter
    Create a new 1-dimensional array from an iterable object.
numpy.partition
    Return a partitioned copy of an array.
numpy.ctypeslib.as_array
    Create a numpy array from a ctypes array or POINTER.
numpy.ma.diagflat
    Create a two-dimensional array with the flattened input as a diagonal.
numpy.ma.make_mask
    Create a boolean mask from an array.
numpy.lib.Arrayterator
    Buffered iterator for big arrays.
numpy.ctypeslib.as_ctypes
    Create and return a ctypes object from a numpy array.  Actually
numpy.ma.mrecords.fromarrays
    Creates a mrecarray from a (flat) list of masked arrays.
numpy.ma.mvoid.__new__
    Create a new masked array from scratch.
numpy.ma.MaskedArray.__new__
    Create a new masked array from scratch.
numpy.ma.mrecords.fromtextfile
    Creates a mrecarray from data stored in the file `filename`.
numpy.asarray
    Convert the input to an array.
numpy.ndarray
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.recarray
    Construct an ndarray that allows field access using attributes.
numpy.chararray
    chararray(shape, itemsize=1, unicode=False, buffer=None, offset=0,
numpy.exp
    Calculate the exponential of all elements in the input array.
numpy.pad
    Pad an array.
numpy.asanyarray
    Convert the input to an ndarray, but pass ndarray subclasses through.
numpy.cbrt
    Return the cube-root of an array, element-wise.
numpy.copy
    Return an array copy of the given object.
numpy.diag
    Extract a diagonal or construct a diagonal array.
numpy.exp2
    Calculate `2**p` for all `p` in the input array.
numpy.fmax
    Element-wise maximum of array elements.
numpy.fmin
    Element-wise minimum of array elements.
numpy.load
    Load arrays or pickled objects from ``.npy``, ``.npz`` or pickled files.
numpy.modf
    Return the fractional and integral parts of an array, element-wise.
numpy.rint
    Round elements of the array to the nearest integer.
numpy.sort
    Return a sorted copy of an array.
numpy.sqrt
    Return the non-negative square-root of an array, element-wise.
numpy.array_equiv
    Returns True if input arrays are shape consistent and all elements equal.
numpy.dtype
    Create a data type object.
numpy.expm1
    Calculate ``exp(x) - 1`` for all elements in the array.
numpy.isnan
    Test element-wise for NaN and return result as a boolean array.
numpy.isnat
    Test element-wise for NaT (not a time) and return result as a boolean array.
numpy.log10
    Return the base 10 logarithm of the input array, element-wise.
numpy.log1p
    Return the natural logarithm of one plus the input array, element-wise.
numpy.power
    First array elements raised to powers from second array, element-wise.
numpy.ufunc
    Functions that operate element by element on whole arrays.
numpy.choose
    Construct an array from an index array and a set of arrays to choose from.
numpy.nditer
    Efficient multi-dimensional iterator object to iterate over arrays.
numpy.maximum
    Element-wise maximum of array elements.
numpy.minimum
    Element-wise minimum of array elements.
numpy.swapaxes
    Interchange two axes of an array.
numpy.full_like
    Return a full array with the same shape and type as a given array.
numpy.ones_like
    Return an array of ones with the same shape and type as a given array.
numpy.bitwise_or
    Compute the bit-wise OR of two arrays element-wise.
numpy.empty_like
    Return a new array with the same shape and type as a given array.
numpy.zeros_like
    Return an array of zeros with the same shape and type as a given array.
numpy.asarray_chkfinite
    Convert the input to an array, checking for NaNs or Infs.
numpy.bitwise_and
    Compute the bit-wise AND of two arrays element-wise.
numpy.bitwise_xor
    Compute the bit-wise XOR of two arrays element-wise.
numpy.float_power
    First array elements raised to powers from second array, element-wise.
numpy.ma.exp
    Calculate the exponential of all elements in the input array.
numpy.diag_indices
    Return the indices to access the main diagonal of an array.
numpy.nested_iters
    Create nditers for use in nested loops
numpy.ma.sqrt
    Return the non-negative square-root of an array, element-wise.
numpy.ma.log10
    Return the base 10 logarithm of the input array, element-wise.
numpy.chararray.tolist
    a.tolist()
numpy.put_along_axis
    Put values into the destination array by matching 1d index and data slices.
numpy.ma.choose
    Use an index array to construct a new array from a set of choices.
numpy.ma.maximum
    Element-wise maximum of array elements.
numpy.ma.minimum
    Element-wise minimum of array elements.
numpy.ma.mrecords.MaskedRecords.__new__
    Create a new masked array from scratch.
numpy.savez_compressed
    Save several arrays into a single file in compressed ``.npz`` format.
numpy.matlib.rand
    Return a matrix of random values with given shape.
numpy.datetime_as_string
    Convert an array of datetimes into an array of strings.
numpy.ma.bitwise_or
    Compute the bit-wise OR of two arrays element-wise.
numpy.ma.bitwise_and
    Compute the bit-wise AND of two arrays element-wise.
numpy.ma.bitwise_xor
    Compute the bit-wise XOR of two arrays element-wise.
numpy.ma.make_mask_none
    Return a boolean mask of the given shape, filled with False.
numpy.ma.tests.test_subclassing.MSubArray.__new__
    Create a new masked array from scratch.
numpy.core._multiarray_umath.clip
    Clip (limit) the values in an array.
numpy.core.tests.test_overrides._new_duck_type_and_implements
    Create a duck array type and implements functions.
numpy.ma.tests.test_subclassing.SubMaskedArray.__new__
    Create a new masked array from scratch.
numpy.ma.mrecords.fromrecords
    Creates a MaskedRecords from a list of records.
numpy.core._multiarray_umath.empty_like
    Return a new array with the same shape and type as a given array.
numpy.f2py.tests.test_array_from_pyobj.Array.has_shared_memory
    Check that created array shares data with input array.
numpy.core._dtype._construction_repr
    Creates a string repr of the dtype, excluding the 'dtype()' part
numpy.abs
    Calculate the absolute value element-wise.
numpy.add
    Add arguments element-wise.
numpy.cos
    Cosine element-wise.
numpy.log
    Natural logarithm, element-wise.
numpy.mod
    Return element-wise remainder of division.
numpy.lib.recfunctions.require_fields
    Casts a structured array to a new dtype using assignment by field-name.
numpy.sin
    Trigonometric sine, element-wise.
numpy.tan
    Compute tangent element-wise.
numpy.ceil
    Return the ceiling of the input, element-wise.
numpy.conj
    Return the complex conjugate, element-wise.
numpy.cosh
    Hyperbolic cosine, element-wise.
numpy.fabs
    Compute the absolute values element-wise.
numpy.fmod
    Return the element-wise remainder of division.
numpy.less
    Return the truth value of (x1 < x2) element-wise.
numpy.log2
    Base-2 logarithm of `x`.
numpy.sign
    Returns an element-wise indication of the sign of a number.
numpy.sinh
    Hyperbolic sine, element-wise.
numpy.tanh
    Compute hyperbolic tangent element-wise.
numpy.equal
    Return (x1 == x2) element-wise.
numpy.core._multiarray_umath.datetime_as_string
    Convert an array of datetimes into an array of strings.
numpy.floor
    Return the floor of the input, element-wise.
numpy.frexp
    Decompose the elements of x into mantissa and twos exponent.
numpy.hypot
    Given the "legs" of a right triangle, return its hypotenuse.
numpy.isinf
    Test element-wise for positive or negative infinity.
numpy.ldexp
    Returns x1 * 2**x2, element-wise.
numpy.trunc
    Return the truncated value of the input, element-wise.
numpy.arccos
    Trigonometric inverse cosine, element-wise.
numpy.arcsin
    Inverse sine, element-wise.
numpy.arctan
    Trigonometric inverse tangent, element-wise.
numpy.around
    Evenly round to the given number of decimals.
numpy.divide
    Returns a true division of the inputs, element-wise.
numpy.divmod
    Return element-wise quotient and remainder simultaneously.
numpy.source
    Print or write to a file the source code for a NumPy object.
numpy.square
    Return the element-wise square of the input.
numpy.arccosh
    Inverse hyperbolic cosine, element-wise.
numpy.arcsinh
    Inverse hyperbolic sine element-wise.
numpy.arctan2
    Element-wise arc tangent of ``x1/x2`` choosing the quadrant correctly.
numpy.arctanh
    Inverse hyperbolic tangent element-wise.
numpy.deg2rad
    Convert angles from degrees to radians.
numpy.degrees
    Convert angles from radians to degrees.
numpy.greater
    Return the truth value of (x1 > x2) element-wise.
numpy.rad2deg
    Convert angles from radians to degrees.
numpy.radians
    Convert angles from degrees to radians.
numpy.signbit
    Returns element-wise True where signbit is set (less than zero).
numpy.spacing
    Return the distance between x and the nearest adjacent number.
numpy.copysign
    Change the sign of x1 to that of x2, element-wise.
numpy.diagonal
    Return specified diagonals.
numpy.isfinite
    Test element-wise for finiteness (not infinity or not Not a Number).
numpy.multiply
    Multiply arguments element-wise.
numpy.negative
    Numerical negative, element-wise.
numpy.subtract
    Subtract arguments, element-wise.
numpy.heaviside
    Compute the Heaviside step function.
numpy.logaddexp
    Logarithm of the sum of exponentiations of the inputs.
numpy.nextafter
    Return the next floating-point value after x1 towards x2, element-wise.
numpy.not_equal
    Return (x1 != x2) element-wise.
numpy.left_shift
    Shift the bits of an integer to the left.
numpy.less_equal
    Return the truth value of (x1 =< x2) element-wise.
numpy.logaddexp2
    Logarithm of the sum of exponentiations of the inputs in base-2.
numpy.logical_or
    Compute the truth value of x1 OR x2 element-wise.
numpy.nan_to_num
    Replace NaN with zero and infinity with large finite numbers (default
numpy.reciprocal
    Return the reciprocal of the argument, element-wise.
numpy.bitwise_not
    Compute bit-wise inversion, or bit-wise NOT, element-wise.
numpy.einsum_path
    Evaluates the lowest cost contraction order for an einsum expression by
numpy.histogram2d
    Compute the bi-dimensional histogram of two data samples.
numpy.logical_and
    Compute the truth value of x1 AND x2 element-wise.
numpy.logical_not
    Compute the truth value of NOT x element-wise.
numpy.logical_xor
    Compute the truth value of x1 XOR x2, element-wise.
numpy.right_shift
    Shift the bits of an integer to the right.
numpy.ma.abs
    Calculate the absolute value element-wise.
numpy.ma.add
    Add arguments element-wise.
numpy.ma.cos
    Cosine element-wise.
numpy.ma.log
    Natural logarithm, element-wise.
numpy.ma.mod
    Return element-wise remainder of division.
numpy.ma.sin
    Trigonometric sine, element-wise.
numpy.ma.tan
    Compute tangent element-wise.
numpy.floor_divide
    Return the largest integer smaller or equal to the division of the inputs.
numpy.ma.ceil
    Return the ceiling of the input, element-wise.
numpy.ma.cosh
    Hyperbolic cosine, element-wise.
numpy.fft.ifft
    Compute the one-dimensional inverse discrete Fourier Transform.
numpy.ma.fabs
    Compute the absolute values element-wise.
numpy.ma.fmod
    Return the element-wise remainder of division.
numpy.ma.less
    Return the truth value of (x1 < x2) element-wise.
numpy.ma.log2
    Base-2 logarithm of `x`.
numpy.ma.sinh
    Hyperbolic sine, element-wise.
numpy.ma.tanh
    Compute hyperbolic tangent element-wise.
numpy.greater_equal
    Return the truth value of (x1 >= x2) element-wise.
numpy.fft.ifftn
    Compute the N-dimensional inverse discrete Fourier Transform.
numpy.ma.equal
    Return (x1 == x2) element-wise.
numpy.ma.floor
    Return the floor of the input, element-wise.
numpy.ma.hypot
    Given the "legs" of a right triangle, return its hypotenuse.
numpy.busdaycalendar
    A business day calendar object that efficiently stores information
numpy.ma.arccos
    Trigonometric inverse cosine, element-wise.
numpy.ma.arcsin
    Inverse sine, element-wise.
numpy.ma.arctan
    Trigonometric inverse tangent, element-wise.
numpy.ma.divide
    Returns a true division of the inputs, element-wise.
numpy.lib.recfunctions.unstructured_to_structured
    Converts and n-D unstructured array into an (n-1)-D structured array.
numpy.ma.arccosh
    Inverse hyperbolic cosine, element-wise.
numpy.ma.arcsinh
    Inverse hyperbolic sine element-wise.
numpy.ma.arctan2
    Element-wise arc tangent of ``x1/x2`` choosing the quadrant correctly.
numpy.ma.arctanh
    Inverse hyperbolic tangent element-wise.
numpy.ma.greater
    Return the truth value of (x1 > x2) element-wise.
numpy.ma.multiply
    Multiply arguments element-wise.
numpy.ma.negative
    Numerical negative, element-wise.
numpy.ma.subtract
    Subtract arguments, element-wise.
numpy.ma.tests.test_subclassing.SubArray
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.ma.conjugate
    Return the complex conjugate, element-wise.
numpy.ma.not_equal
    Return (x1 != x2) element-wise.
numpy.ma.remainder
    Return element-wise remainder of division.
numpy.ma.empty_like
    empty_like(prototype, dtype=None, order='K', subok=True, shape=None)
numpy.ma.less_equal
    Return the truth value of (x1 =< x2) element-wise.
numpy.ma.logical_or
    Compute the truth value of x1 OR x2 element-wise.
numpy.ma.logical_and
    Compute the truth value of x1 AND x2 element-wise.
numpy.ma.logical_not
    Compute the truth value of NOT x element-wise.
numpy.ma.logical_xor
    Compute the truth value of x1 XOR x2, element-wise.
numpy.ma.true_divide
    Returns a true division of the inputs, element-wise.
numpy.ma.floor_divide
    Return the largest integer smaller or equal to the division of the inputs.
numpy.ma.greater_equal
    Return the truth value of (x1 >= x2) element-wise.
numpy.core.tests.test_function_base.PhysicalQuantity2
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.lib.tests.test_stride_tricks.SimpleSubClass
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.core.tests.test_numeric.TestKeepdims.sub_array
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.ma.tests.test_subclassing.ComplicatedSubArray
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.lib.tests.test_stride_tricks.VerySimpleSubClass
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.core.tests.test_multiarray.TestArrayPriority.Foo
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.core.tests.test_multiarray.TestArrayPriority.Bar
    ndarray(shape, dtype=float, buffer=None, offset=0,
numpy.testing._gen_alignment_data
    generator producing data with different alignment and offsets
numpy.random.RandomState.rand
    Random values in a given shape.

## Arrays creation

* **1-D**:

In [8]:
a = np.array([0, 1, 2, 3])
a

array([0, 1, 2, 3])

In [9]:
a.ndim

1

In [10]:
a.shape

(4,)

In [11]:
len(a)

4

* **2-D**:

In [12]:
b = np.array([[0, 1, 2], [3, 4, 5]])  # 2 x 3 array
b

array([[0, 1, 2],
       [3, 4, 5]])

In [13]:
b.ndim

2

In [14]:
b.shape # (rows, columns)

(2, 3)

In [15]:
len(b)  # number of rows

2

- evenly spaced elements:

In [16]:
a = np.arange(10)  # 0 .. n-1 
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
b = np.arange(1, 9, 2)  # start, end (not encluding), step
b

array([1, 3, 5, 7])

- by number of elements:

In [18]:
c = np.linspace(0, 1, 6)  # start, end, amount
c

array([0. , 0.2, 0.4, 0.6, 0.8, 1. ])

In [19]:
d = np.linspace(0, 1, 5, endpoint=False)
d

array([0. , 0.2, 0.4, 0.6, 0.8])

- Widely used arrays:

In [20]:
a = np.ones((3, 3))  # (3, 3) - tuple ('кортеж' - immutable data type (as opposed to a list))
a

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [21]:
b = np.zeros((2, 2))
b

array([[0., 0.],
       [0., 0.]])

In [22]:
c = np.eye(3)
c

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [23]:
d = np.diag(np.array([1, 2, 3, 4]))
d

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

* `np.random` random numbers generation:

In [24]:
a = np.random.rand(4)  # creates an array of specified shape and fills it with random values
a

array([0.50755507, 0.0211933 , 0.43352176, 0.44631306])

In [25]:
b = np.random.randn(4)  # “normal” (Gaussian) distribution of mean 0 and variance 1
b

array([ 0.65034618, -0.51433646,  0.53942869,  1.52676162])

In [26]:
np.random.seed(1234)  # seed - defines the internal state of the generator

## Array Indexing and Slicing

In [27]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
a[0], a[2], a[-1]

(0, 2, 9)

Multidimensional arrays:

In [29]:
a = np.diag(np.arange(3))
a

array([[0, 0, 0],
       [0, 1, 0],
       [0, 0, 2]])

In [30]:
a[1, 1]

1

In [31]:
a[2, 1] = 10  # 3 row, 2 column
a

array([[ 0,  0,  0],
       [ 0,  1,  0],
       [ 0, 10,  2]])

In [32]:
a[1]

array([0, 1, 0])

**Slices**

In [33]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [34]:
a[2:9:3]  # [start:end:step]

array([2, 5, 8])

In [35]:
a[:4]

array([0, 1, 2, 3])

By default \`start\` -  0,
\`end\` - last index, \`step\` - 1:

In [36]:
a[1:3]

array([1, 2])

In [37]:
a[::2]

array([0, 2, 4, 6, 8])

In [38]:
a[3:]

array([3, 4, 5, 6, 7, 8, 9])

# 2. Pandas
Pandas is a Python library that provides extensive means for data analysis. Data scientists often work with data stored in table formats like .csv, .tsv, or .xlsx. Pandas makes it very convenient to load, process, and analyze such tabular data using SQL-like queries. In conjunction with Matplotlib and Seaborn, Pandas provides a wide range of opportunities for visual analysis of tabular data.

The main data structures in Pandas are implemented with Series and DataFrame classes. The former is a one-dimensional indexed array of some fixed data type. The latter is a two-dimensional data structure - a table - where each column contains data of the same type. You can see it as a dictionary of Series instances. DataFrames are great for representing real data: rows correspond to instances (examples, observations, etc.), and columns correspond to features of these instances.

In [39]:
import pandas as pd

## General info

### Series

** Series object creation**

In [40]:
salaries = pd.Series([400, 300, 200, 250], index=["Andrey", "Kate", "Anton", "Alex"])
print(salaries)

Andrey    400
Kate      300
Anton     200
Alex      250
dtype: int64

In [41]:
salaries[salaries > 250]

Andrey    400
Kate      300
dtype: int64

**Indexation can be as s.Name or s['Name'].**

In [42]:
print(salaries.Andrey == salaries["Andrey"])

True

In [43]:
salaries["Oli"] = np.nan

In [44]:
salaries

Andrey    400.0
Kate      300.0
Anton     200.0
Alex      250.0
Oli         NaN
dtype: float64

In [45]:
salaries.fillna(salaries.min(), inplace=True) # fill the gaps with min value

In [46]:
salaries

Andrey    400.0
Kate      300.0
Anton     200.0
Alex      250.0
Oli       200.0
dtype: float64

**Series objects are similar to ndarray and can be passed as arguments to most Numpy functions**

In [47]:
print("The second element is", salaries[1], "\n") #start from 0
print(salaries[:3], "\n") # from index 0 to 2 
print("There are", len(salaries[salaries > 0]), "positive elements\n")
print(np.exp(salaries)) # exponent

The second element is 300.0

Andrey    400.0
Kate      300.0
Anton     200.0
dtype: float64

There are 5 positive elements

Andrey    5.221470e+173
Kate      1.942426e+130
Anton      7.225974e+86
Alex      3.746455e+108
Oli        7.225974e+86
dtype: float64

### DataFrame

**Such object can be created from a numpy array by specifying the row and column names.**

In [48]:
df1 = pd.DataFrame(
    np.random.randn(5, 3),
    index=["o1", "o2", "o3", "o4", "o5"],
    columns=["f1", "f2", "f3"],
)
df1

          f1        f2        f3
o1  0.471435 -1.190976  1.432707
o2 -0.312652 -0.720589  0.887163
o3  0.859588 -0.636524  0.015696
o4 -2.242685  1.150036  0.991946
o5  0.953324 -2.021255 -0.334077

**Alternative way**

In [49]:
df2 = pd.DataFrame(
    {"A": np.random.random(5), "B": ["a", "b", "c", "d", "e"], "C": np.arange(5) > 2}
)
df2

          A  B      C
0  0.772827  a  False
1  0.882641  b  False
2  0.364886  c  False
3  0.615396  d   True
4  0.075381  e   True

**Referring to elements:**

In [50]:
print("Position (3,B) =", df2.at[3, "B"], "\n")
print(df2.loc[[1, 4], ["A", "B"]])

Position (3,B) = d

          A  B
1  0.882641  b
4  0.075381  e

**Change of the elements:**

In [51]:
df2.at[2, "B"] = "f"
df2

          A  B      C
0  0.772827  a  False
1  0.882641  b  False
2  0.364886  f  False
3  0.615396  d   True
4  0.075381  e   True

In [52]:
df2.loc[5] = [3.1415, "c", False]
df2

          A  B      C
0  0.772827  a  False
1  0.882641  b  False
2  0.364886  f  False
3  0.615396  d   True
4  0.075381  e   True
5  3.141500  c  False

#### Handling missing values

In [53]:
df1.at["o2", "A"] = np.nan
df1.at["o4", "C"] = np.nan
df1

          f1        f2        f3   A   C
o1  0.471435 -1.190976  1.432707 NaN NaN
o2 -0.312652 -0.720589  0.887163 NaN NaN
o3  0.859588 -0.636524  0.015696 NaN NaN
o4 -2.242685  1.150036  0.991946 NaN NaN
o5  0.953324 -2.021255 -0.334077 NaN NaN

**Gaps can be replaced with some value.**

In [54]:
df1.fillna(0)

          f1        f2        f3    A    C
o1  0.471435 -1.190976  1.432707  0.0  0.0
o2 -0.312652 -0.720589  0.887163  0.0  0.0
o3  0.859588 -0.636524  0.015696  0.0  0.0
o4 -2.242685  1.150036  0.991946  0.0  0.0
o5  0.953324 -2.021255 -0.334077  0.0  0.0

## Demonstration of main Pandas methods with dataset

We'll work with the next dataset:
https://bigml.com/user/francisco/gallery/dataset/5163ad540c0b5e5b22000383.
We’ll demonstrate the main methods in action by analyzing a dataset on the churn rate of telecom operator clients. Let’s read the data (using the read_csv method), and take a look at the first 5 lines using the head method:

In [55]:
df = pd.read_csv('/Users/Aliaksandra_Varabyo1/OneDrive - EPAM/Desktop/telecom_churn.csv') # change for your path here
df.head() # 5 rows - default

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

Let’s have a look at data dimensionality, feature names, and feature types.

In [56]:
print(df.shape)

(3333, 20)

From the output, we can see that the table contains 3333 rows and 20 columns.

Now let’s try printing out column names using columns:

In [57]:
print(df.columns)

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

We can use the info() method to output some general information about the dataframe:

In [58]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB
None

Bool, int64, float64 and object are the data types of our features. We see that one feature is logical (bool), 3 features are of type object, and 16 features are numeric. With this same method, we can easily see if there are any missing values. Here, there are none because each column contains 3333 observations, the same number of rows we saw before with shape.

We can change the column type with the astype method. Let’s apply this method to the Churn feature to convert it into int64:

In [59]:
df["Churn"] = df["Churn"].astype("int64")

The describe method shows basic statistical characteristics of each numerical feature (int64 and float64 types): number of non-missing values, mean, standard deviation, range, median, 0.25 and 0.75 quartiles.

In [60]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

For categorical (type object) and boolean (type bool) features we can use the value_counts method. Let's take a look at the distribution of Churn:

In [61]:
df["Churn"].value_counts()

0    2850
1     483
Name: Churn, dtype: int64

2850 users out of 3333 are loyal

### Sorting

A DataFrame can be sorted by the value of one of the variables (i.e columns). For example, we can sort by Total day charge (use ascending=False to sort in descending order):

In [62]:
df.sort_values(by="Total day charge", ascending=False).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
365,CO,154,415,No,No,0,350.8,75,59.64,216.5,94,18.40,253.9,100,11.43,10.1,9,2.73,1,1
985,NY,64,415,Yes,No,0,346.8,55,58.96,249.5,79,21.21,275.4,102,12.39,13.3,9,3.59,1,1
2594,OH,115,510,Yes,No,0,345.3,81,58.70,203.4,106,17.29,217.5,107,9.79,11.8,8,3.19,1,1
156,OH,83,415,No,No,0,337.4,120,57.36,227.4,116,19.33,153.9,114,6.93,15.8,7,4.27,0,1
605,MO,112,415,No,No,0,335.5,77,57.04,212.5,109,18.06,265.0,132,11.93,12.7,8,3.43,2,1

We can also sort by multiple columns:

In [63]:
df.sort_values(by=["Churn", "Total day charge"], ascending=[True, False]).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
688,MN,13,510,No,Yes,21,315.6,105,53.65,208.9,71,17.76,260.1,123,11.70,12.1,3,3.27,3,0
2259,NC,210,415,No,Yes,31,313.8,87,53.35,147.7,103,12.55,192.7,97,8.67,10.1,7,2.73,3,0
534,LA,67,510,No,No,0,310.4,97,52.77,66.5,123,5.65,246.5,99,11.09,9.2,10,2.48,4,0
575,SD,114,415,No,Yes,36,309.9,90,52.68,200.3,89,17.03,183.5,105,8.26,14.2,2,3.83,1,0
2858,AL,141,510,No,Yes,28,308.0,123,52.36,247.8,128,21.06,152.9,103,6.88,7.4,3,2.00,1,0

### Indexing and retrieving data

A DataFrame can be indexed in a few different ways.

To get a single column, you can use a DataFrame['Name'] construction. Let's use this to answer a question about that column alone: what is the proportion of churned users in our dataframe?

In [64]:
df["Churn"].mean()

0.14491449144914492

14.5% is actually quite bad for a company; such a churn rate can make the company go bankrupt.

Boolean indexing with one column is also very convenient. The syntax is df[P(df['Name'])], where P is some logical condition that is checked for each element of the Name column. The result of such indexing is the DataFrame consisting only of rows that satisfy the P condition on the Name column.

Let's use it to answer the question:

What are average values of numerical features for churned users?

In [65]:
df[df["Churn"] == 1].mean()

Account length            102.664596
Area code                 437.817805
Number vmail messages       5.115942
Total day minutes         206.914079
Total day calls           101.335404
Total day charge           35.175921
Total eve minutes         212.410145
Total eve calls           100.561077
Total eve charge           18.054969
Total night minutes       205.231677
Total night calls         100.399586
Total night charge          9.235528
Total intl minutes         10.700000
Total intl calls            4.163561
Total intl charge           2.889545
Customer service calls      2.229814
Churn                       1.000000
dtype: float64

How much time (on average) do churned users spend on the phone during daytime?

In [66]:
df[df["Churn"] == 1]["Total day minutes"].mean()

206.91407867494814

What is the maximum length of international calls among loyal users (Churn == 0) who do not have an international plan?

In [67]:
df[(df["Churn"] == 0) & (df["International plan"] == "No")]["Total intl minutes"].max()

18.9

DataFrames can be indexed by column name (label) or row name (index) or by the serial number of a row. The loc method is used for indexing by name, while iloc() is used for indexing by number.

In the first case below, we say "give us the values of the rows with index from 0 to 5 (inclusive) and columns labeled from State to Area code (inclusive)". In the second case, we say "give us the values of the first five rows in the first three columns" (as in a typical Python slice: the maximal value is not included).

In [68]:
df.loc[0:5, "State":"Area code"]

  State  Account length  Area code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415
5    AL             118        510

In [69]:
df.iloc[0:5, 0:3]

  State  Account length  Area code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415

### Applying Functions to Cells, Columns and Rows

To apply functions to each column, use apply():

In [70]:
df.apply(np.max)

State                        WY
Account length              243
Area code                   510
International plan          Yes
Voice mail plan             Yes
Number vmail messages        51
Total day minutes         350.8
Total day calls             165
Total day charge          59.64
Total eve minutes         363.7
Total eve calls             170
Total eve charge          30.91
Total night minutes       395.0
Total night calls           175
Total night charge        17.77
Total intl minutes         20.0
Total intl calls             20
Total intl charge           5.4
Customer service calls        9
Churn                         1
dtype: object

The apply method can also be used to apply a function to each row. To do this, specify axis=1. Lambda functions are very convenient in such scenarios. For example, if we need to select all states starting with 'W', we can do it like this:

In [71]:
df[df["State"].apply(lambda state: state[0] == "W")].head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
26,WY,57,408,No,Yes,39,213.0,115,36.21,191.1,112,16.24,182.7,115,8.22,9.5,3,2.57,0,0
44,WI,64,510,No,No,0,154.0,67,26.18,225.8,118,19.19,265.3,86,11.94,3.5,3,0.95,1,0
49,WY,97,415,No,Yes,24,133.2,135,22.64,217.2,58,18.46,70.6,79,3.18,11.0,3,2.97,1,0
54,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1

The map method can be used to replace values in a column by passing a dictionary of the form {old_value: new_value} as its argument:

In [72]:
d = {"No": False, "Yes": True}
df["International plan"] = df["International plan"].map(d)
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

### Grouping

In general, grouping data in Pandas works as follows:

df.groupby(by=grouping_columns)[columns_to_show].function()
1. First, the groupby method divides the grouping_columns by their values. They become a new index in the resulting dataframe.
2. Then, columns of interest are selected (columns_to_show). If columns_to_show is not included, all non groupby clauses will be included.
3. Finally, one or several functions are applied to the obtained groups per selected columns.

Here is an example where we group the data according to the values of the Churn variable and display statistics of three columns in each group:

In [73]:
columns_to_show = ["Total day minutes", "Total eve minutes", "Total night minutes"]

df.groupby(["Churn"])[columns_to_show].describe(percentiles=[])

      Total day minutes                                            \
                  count        mean        std  min    50%    max
Churn
0                2850.0  175.175754  50.181655  0.0  177.2  315.6
1                 483.0  206.914079  68.997792  0.0  217.6  350.8

      Total eve minutes                                             \
                  count        mean        std   min    50%    max
Churn
0                2850.0  199.043298  50.292175   0.0  199.6  361.8
1                 483.0  212.410145  51.728910  70.9  211.3  363.7

      Total night minutes
                    count        mean        std   min     50%    max
Churn
0                  2850.0  200.133193  51.105032  23.2  200.25  395.0
1                   483.0  205.231677  47.132825  47.4  204.80  354.9

Let’s do the same thing, but slightly differently by passing a list of functions to agg():

In [74]:
columns_to_show = ["Total day minutes", "Total eve minutes", "Total night minutes"]

df.groupby(["Churn"])[columns_to_show].agg([np.mean, np.std, np.min, np.max])

      Total day minutes                        Total eve minutes             \
                   mean        std amin   amax              mean        std
Churn
0            175.175754  50.181655  0.0  315.6        199.043298  50.292175
1            206.914079  68.997792  0.0  350.8        212.410145  51.728910

                   Total night minutes
       amin   amax                mean        std  amin   amax
Churn
0       0.0  361.8          200.133193  51.105032  23.2  395.0
1      70.9  363.7          205.231677  47.132825  47.4  354.9

### Joins

In [75]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'column_1df': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'column_2df': ['B0', 'B1', 'B2']})

In [76]:
df1.set_index('key').join(df2.set_index('key'))

    column_1df column_2df
key
K0          A0         B0
K1          A1         B1
K2          A2         B2
K3          A3        NaN
K4          A4        NaN
K5          A5        NaN

In [77]:
df1.set_index('key').join(df2.set_index('key'), how = 'inner')

    column_1df column_2df
key
K0          A0         B0
K1          A1         B1
K2          A2         B2

How can be: ‘left’, ‘right’, ‘outer’, ‘inner’; default ‘left’

### Summary tables

Suppose we want to see how the observations in our dataset are distributed in the context of two variables - Churn and International plan. To do so, we can build a contingency table using the crosstab method:

In [78]:
pd.crosstab(df["Churn"], df["International plan"])

International plan  False  True
Churn
0                    2664    186
1                     346    137

We can see that most of the users are loyal and do not use additional services (International Plan/Voice mail).

This will resemble pivot tables to those familiar with Excel. And, of course, pivot tables are implemented in Pandas: the pivot_table method takes the following parameters:

values – a list of variables to calculate statistics for,
index – a list of variables to group data by,
aggfunc – what statistics we need to calculate for groups, ex. sum, mean, maximum, minimum or something else.

Let’s take a look at the average number of day, evening, and night calls by area code:

In [79]:
df.pivot_table(
    ["Total day calls", "Total eve calls", "Total night calls"],
    ["Area code"],
    aggfunc="mean",
).head(10)

           Total day calls  Total eve calls  Total night calls
Area code
408             100.496420        99.788783          99.039379
415             100.576435       100.503927         100.398187
510             100.097619        99.671429         100.601190

### DataFrame transformations

Like many other things in Pandas, adding columns to a DataFrame is doable in many ways.

For example, if we want to calculate the total number of calls for all users, let’s create the total_calls Series and paste it into the DataFrame:

In [80]:
total_calls = (
    df["Total day calls"]
    + df["Total eve calls"]
    + df["Total night calls"]
    + df["Total intl calls"]
)
df.insert(loc=len(df.columns), column="Total calls", value=total_calls)
# loc parameter is the number of columns after which to insert the Series object
# we set it to len(df.columns) to paste it at the very end of the dataframe
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,0,332
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,0,333
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,0,255
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,0,359

It is possible to add a column more easily without creating an intermediate Series instance:

In [81]:
df["Total charge"] = (
    df["Total day charge"]
    + df["Total eve charge"]
    + df["Total night charge"]
    + df["Total intl charge"]
)

df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls,Total charge
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,...,244.7,91,11.01,10.0,3,2.70,1,0,303,75.56
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,...,254.4,103,11.45,13.7,3,3.70,1,0,332,59.24
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,...,162.6,104,7.32,12.2,5,3.29,0,0,333,62.29
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,...,196.9,89,8.86,6.6,7,1.78,2,0,255,66.80
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,...,186.9,121,8.41,10.1,3,2.73,3,0,359,52.09

To delete columns or rows, use the drop method, passing the required indexes and the axis parameter (1 if you delete columns, and nothing or 0 if you delete rows). The inplace argument tells whether to change the original DataFrame. With inplace=False, the drop method doesn't change the existing DataFrame and returns a new one with dropped rows or columns. With inplace=True, it alters the DataFrame.

In [82]:
df = df.drop(["Total charge"], axis=1)

### Tasks (with answers):

1. Display the number of those who used / did not use the "international roaming" service.

In [83]:
print("Number of those who used the service {}, who didn't use the service - {} .".format(sum(df['International plan'] == True), 
                                            sum(df['International plan'] == False)))

Number of those who used the service 323, who didn't use the service - 3010 .

In [84]:
df['International plan'].value_counts() # easier

False    3010
True      323
Name: International plan, dtype: int64

2. Print rows from 5 to 13 with the following columns: 'State', 'Voice mail plan', 'Number vmail messages'

In [85]:
df[['State','Voice mail plan','Number vmail messages']].loc[5:13,:]

   State Voice mail plan  Number vmail messages
5     AL              No                      0
6     MA             Yes                     24
7     MO              No                      0
8     LA              No                      0
9     WV             Yes                     37
10    IN              No                      0
11    RI              No                      0
12    IA              No                      0
13    MT              No                      0

3. Leave only states where the total number of daily calls is less than 10 and write this cut dataflame to a csv file.

In [86]:
result = df[df["Total day calls"].apply(lambda call: call < 10)]
result.to_csv('task_3.csv', index = False)

4. Export of the dataframe to JSON file

In [87]:
df.to_json('task_4.json')

5. Export of the dataframe to AVRO file

In [88]:
import pandavro as pdx # before it: pip install pandavro from command line
pdx.to_avro('task_5.avro', df)

6. Export of the dataframe to Parquet file

In [89]:
import pyarrow as pa # before it: pip install pyarrow from command line
import pyarrow.parquet as pq

table = pa.Table.from_pandas(df, preserve_index=True)
pq.write_table(table, 'task_6.parquet')

7. Using 3 threads raise values in columns 'Total day minutes', 'Total day calls', 'Total day charge' to the third power (power - **) and export result dataframe to csv file.

In [90]:
import threading

df = pd.read_csv('/Users/Aliaksandra_Varabyo1/OneDrive - EPAM/Desktop/telecom_churn.csv')
arr = ['Total night minutes','Total night calls','Total night charge']

def sum_col_values(column_name):
    df[column_name] =  df[column_name].apply(lambda x: x**3)

worker_threads = 3

threads = []

for i in range(worker_threads):
    thread = threading.Thread(target=sum_col_values, args=(arr[i],))
    thread.setDaemon(True)
    thread.start()
    threads.append(thread)
for j in threads:
    j.join()

df.to_csv('task_7.csv')

8. Get dataframe (df). Fill the nulls with the average value for the column, add column names as "col_1", "col_2", ... and export the file to html format.

In [91]:
###### don't change it - just run it
df = pd.DataFrame(
    np.random.randn(5, 3)
)
df.iloc[0, 2] = None
df.iloc[4, 1] = None
###### don't change it

In [92]:
df = df.fillna(df.mean())
df.columns = ['col_'+ str(i+1) for i in range(df.shape[1])]
df.to_html('task_8.html')

9. Get dataframe (df). Then change color to red for cells where value is less than 0 and to yellow where values in cells are nulls. Then export final dataframe to excel.

In [93]:
###### don't change it - just run it
df = pd.DataFrame(
    np.random.randn(5, 3)
)
df.iloc[0, 2] = None
df.iloc[4, 1] = None
###### don't change it

In [94]:
styled = (df.style.
          applymap(lambda v: 'background-color: %s' % 'red' if v<0 else '').
          applymap(lambda v: 'background-color: %s' % 'yellow' if np.isnan(v) else ''))
styled.to_excel('task_9.xlsx', engine='openpyxl')

In [95]:
styled

10. Is that true that for states that have 'voice mail plan' service churn appears more frequently than for states that don't have such service?

In [96]:
df = pd.read_csv('/Users/Aliaksandra_Varabyo1/OneDrive - EPAM/Desktop/telecom_churn.csv') # change for your path here
voice_loyal = df[df["Voice mail plan"] == "Yes"]["Churn"]
non_voice_loyal = df[df["Voice mail plan"] == "No"]["Churn"]


print(
    "Churns appeared: \n\t among states that had voice mail plan - {}%, \n\t among states that didn't have voice mail plan - {}%".format(
        round(100 * voice_loyal.mean(), 1), round(100 * non_voice_loyal.mean(), 1)
    )
)

Churns appeared:
	 among states that had voice mail plan - 8.7%,
	 among states that didn't have voice mail plan - 16.7%

-> No, churns appeared more frequently for them who didn't have voice mail plan service

11*. Count the total number of calls for loyal states (churn = 0) who did not have service calls, display the data in Excel, highlight the states with the largest number of loyal customers in green, and the states with the smallest in red.

In [97]:
df["Total calls"] = (
    df["Total day calls"]
    + df["Total eve calls"]
    + df["Total night calls"]
    + df["Total intl calls"]
)
result = df[(df['Churn']==False) & (df['Customer service calls']==0)][['State', 'Total calls']]

As alternative way to get colored cells in Excel (using openpyxl directly)

As one of the possible solutions:

In [98]:
result['id'] = np.arange(len(result)) # add new column as a sequence 
max_calls = result[result["Total calls"] == max(result["Total calls"])] # row with max number of calls
min_calls = result[result["Total calls"] == min(result["Total calls"])] # row with min number of calls
result.to_excel('task_11.xlsx', sheet_name='task_11', index = False)

In [99]:
from openpyxl import load_workbook
from openpyxl.styles import PatternFill
from openpyxl.styles import PatternFill
wb = load_workbook('./task_11.xlsx')
sheet = wb['task_11']

redFill = PatternFill(start_color='FFEE1111', end_color='FFEE1111', fill_type='solid')
greenFill = PatternFill(start_color='0000FF00', end_color='0000FF00', fill_type='solid')

sheet['A'+str(max_calls['id'].values[0]+2)].fill = greenFill # +2 as in python numeration starts from 0; one row is header
sheet['A'+str(min_calls['id'].values[0]+2)].fill = redFill
wb.save('task_11.xlsx')